extends main

block internal_content
	script.
		var userIcon =  L.AwesomeMarkers.icon( C3D.config.style['user'] );
		var socket = io('/admins');
		
		socket.on('updateMapUsersConnected', function(usersConnected) {
			
			// prendi tutti i piani su leaflet e pulisci i marker degli utenti presenti
			for(id in C3D.index) {
				if(C3D.index[id].properties.class === 'level') {
					C3D.index[id].layer2D.userMarkers.clearLayers();
				}
			}
			
			// per ogni utente nella mappa 
			for(userToUpdate in usersConnected) { 
				var user = {
					id: usersConnected[userToUpdate].id,
					position:
					{
						latlng: usersConnected[userToUpdate].position.latlng,
						level: usersConnected[userToUpdate].position.level
					},
					marker: L.marker((usersConnected[userToUpdate].position.latlng), { icon: userIcon })
				}
				user.marker.bindPopup("<b>User: </b>" + user.id +'<br><b>[' + user.position.latlng.lat + '; ' + user.position.latlng.lng + ']</b>');
				user.marker.addTo(C3D.index[user.position.level].layer2D.userMarkers);
			}
		});
		