extends main

block internal_content
	script.
		// init socket
		var socket = io('/admins');
		var mapUsersConnected;
		// init for 2D
		if (#{enable_2D}) {
			var userIcon =  L.AwesomeMarkers.icon( C3D.config.style['user'] );
		}
		
		socket.on('updateMapUsersConnected', function(usersConnected) {
			mapUsersConnected = usersConnected;
			// update 2D
			if (#{enable_2D}) {
				// clear all markers
				for(id in C3D.index) {
					if(C3D.index[id].properties.class === 'level') {
						C3D.index[id].layer2D.userMarkers.clearLayers();
					}
				}
				
				// put new markers
				for(userToUpdate in usersConnected) { 
					var user = usersConnected[userToUpdate];
					var latLng = C3D.fromGeneralTo2D(user.position);
					var marker = L.marker(latLng, { icon: userIcon });
					marker.bindPopup("<b>User: </b>" + user.id +'<br><b>[' + latLng.lat + '; ' + latLng.lng + ']</b>');
					marker.addTo(C3D.index[user.position.levelId].layer2D.userMarkers);
				}
			}
			
			// update 3D
			if (#{enable_3D}) {
				// clear all models
				for(id in C3D.index) {
					if(C3D.index[id].properties.class === 'level') {
						C3D.index[id].obj3D.remove(C3D.index[id].obj3D.userModels);
						C3D.index[id].obj3D.userModels = new THREE.Object3D();
						C3D.index[id].obj3D.add(C3D.index[id].obj3D.userModels);
					}
				}
				// put new models
				for(userToUpdate in usersConnected) { 
					var user = usersConnected[userToUpdate];
					var model = C3D.generator3D['cube']('0xFF0000');
					C3D.index[user.position.levelId].obj3D.userModels.add(model);
					model.position = C3D.fromGeneralTo3D(user.position);
					if ((user.position.levelId === C3D.actualPosition.levelId) || (C3D.actualPosition.levelId === 'building')) {
						C3D.show3DObject(model, true);
					} else {
						C3D.show3DObject(model, false);
					}
				}
			}
		});
		
		// level change
		C3D.on('selectFeature', function(idObject) {
			if((C3D.index[idObject].properties.class === 'level') || (C3D.index[idObject].properties.class === 'building')) {
				// update the general position
				C3D.actualPosition.levelId = idObject;
			}
		});
		