extends layout

block head
	// Style
	link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
	if enable_2D
		include ./includes/css_2d.jade
	if enable_3D
		include ./includes/css_3d.jade

block content
	.container-fluid
		// Default JavaScript libraries
		script(src='/assets/js/jquery-2.1.1.js')
		script(src='/assets/js/async.js')
		script(src='/assets/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		if enable_2D
			include ./includes/js_libraries_2d.jade
		if enable_3D
			include ./includes/js_libraries_3d.jade
		
		// C3D Library
		script(src='/libs/c3d_client.js')
		
		script.
			C3D_server = JSON.parse('!{C3D_server}');
			for (prop in C3D_server) {
				C3D[prop] = C3D_server[prop];
			}
			C3D.setIndexAndParents();
		

		.page-header
			h1= title
		.row
			if (enable_2D && enable_3D)	
				.col-md-6
					h3 2Da
					#container2D 
				.col-md-6
					h3 3D
					#container3D 
			else if (enable_2D && !enable_3D)	
				.col-md-8.col-md-offset-2
					h3 2D
					#container2D 	
			else if (!enable_2D && enable_3D)
				.col-md-8.col-md-offset-2
					h3 3D
					#container3D 

			
		if enable_2D
			script.
				C3D.init2D();
				C3D.generate2DModel();
				
		if enable_3D 
			script.
				C3D.init3D();
				C3D.generate3DModel();
		
		.page-header
			h1 Controls
			
		.row
			.col-md-3
				.lead Select Level: 
					select#selectLevel
			.col-md-3
				.lead Select Room:
					select#selectRoom(disabled = true)
		script.
			var elements = ['level','building'];
			for(id in C3D.index)
				//if(C3D.index[id].parent === undefined || C3D.index[id].parent.id === "building" )
				if(elements.indexOf(C3D.index[id].properties.class) > -1)
					$("#selectLevel").append('<option value=' + id + '>' + id +'</option>')
	
			$( "#selectLevel" ).on('change', function() {
				C3D.emit('selectFeature',this.value);
				
				$("#selectRoom").prop('disabled', false);
				$('#selectRoom option').each( function () { $(this).remove(); } );
				
				for(id in C3D.index)
					if( (C3D.index[id].properties.parent === this.value) && (C3D.index[id].properties.class === 'room') )
						$("#selectRoom").append('<option value=' + id + '>' + id +'</option>');
			});
	
			$( "#selectRoom" ).on('change', function() {
				C3D.emit('selectFeature', this.value);
			});
		block internal_content