extends layout

block head
	// Style
	link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
	if enable_2D
		include ./includes/css_2d.jade
	if enable_3D
		include ./includes/css_3d.jade

block content
	.container-fluid
		// Default JavaScript libraries
		script(src='/assets/js/jquery-2.1.1.js')
		script(src='/assets/js/async.js')
		script(src='/assets/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		if enable_2D
			include ./includes/js_libraries_2d.jade
		if enable_3D
			include ./includes/js_libraries_3d.jade
		
		// C3D Library
		script(src='/libs/c3d_client.js')
		
		script.
			C3D_server = JSON.parse('!{C3D_server}');
			for (prop in C3D_server) {
				C3D[prop] = C3D_server[prop];
			}
			C3D.setIndexAndParents();
		

		.page-header
			h1= title
		.row
			if enable_2D
				if enable_3D
					.col-md-6
						h3 2D
						#container2D
					.col-md-6
						h3 3D
						#container3D
				else
					.col-md-12
						h3 2D
						#container2D
			else if enable_3D
				if enable_2D
					.col-md-6
						h3 2D
						#container2D
					.col-md-6
						h3 3D
						#container3D
				else
					.col-md-12
						h3 3D
						#container3D
			
		if enable_2D
			script.
				C3D.init2D();
				C3D.generate2DModel();
				
		if enable_3D 
			script.
				C3D.init3D();
				C3D.generate3DModel();
		

		block internal_content