extends main
block internal_content
	.page-header
			h1 Controls
	.row
		.col-md-3
			.lead Select level: 
				select#selectLevel
		.col-md-3
			.lead Select Room:
				select#selectRoom(disabled = true)
	script.
		var elements = ['room','level','building'];
		for(id in C3D.index)
			//if(elements.indexOf(C3D.index[id].properties.class) > -1)
			if(C3D.index[id].parent === undefined || C3D.index[id].parent.id === "building" )
				$("#selectLevel").append('<option value=' + id + '>' + id +'</option>')


		$( "#selectLevel" ).on('change', function() {
			C3D.emit('selectFeature',this.value);
			$("#selectRoom").prop('disabled', false);
			console.log(this.value);
			$('#selectRoom option').each(function (){
				$(this).remove();
			});
			
			for(id in C3D.index)
				if(C3D.index[id].properties.parent === this.value&&C3D.index[id].properties.class==='room')
					$("#selectRoom").append('<option value=' + id + '>' + id +'</option>')
		});

		$( "#selectRoom" ).on('change', function() {
			C3D.emit('selectFeature', this.value);
		});