extends main

block internal_content
	script.
		var map = C3D.map2D;
		var socket = io('/users');
		var userIcon =  L.AwesomeMarkers.icon( C3D.config.style['user'] );
		var position = {};
		position.latlng = new L.LatLng(-2,13.5);
		position.level = getActualLevelId();

		var marker = L.marker(position.latlng, {
		    icon: userIcon,
		    draggable: true
		});
		
		marker.addTo(C3D.index[position.level].layer2D.userMarkers);		
		marker.bindPopup('<b>[' + position.latlng.lat + '; ' + position.latlng.lng + ']</b>');
		socket.emit('updatePosition', position);
		marker.on('drag', dragMarker);

		function dragMarker(e) {
			position.latlng = marker.getLatLng();
			position.level =  getActualLevelId();
			socket.emit('updatePosition', position);
			marker.setLatLng(position.latlng);
			marker.bindPopup('<b>[' + position.latlng.lat + '; ' + position.latlng.lng + ']</b>');
		}
		
		C3D.on('selectFeature', function(idObject) {
			if(C3D.index[idObject].properties.class === 'level') {
				C3D.index[position.level].layer2D.userMarkers.removeLayer(marker);
				position.level = getActualLevelId();
				socket.emit('updatePosition', position);
				marker.addTo(C3D.index[position.level].layer2D.userMarkers);
				C3D.camera3D.parent.parent.position.z = C3D.index[idObject].properties.tVector[2] + 1.8;
			}
		});
		
		function onKeyDown() {
			position.latlng = new L.LatLng((-C3D.camera3D.parent.parent.position.z),C3D.camera3D.parent.parent.position.x);
			position.level =  getActualLevelId();
			marker.setLatLng(position.latlng);
			marker.bindPopup('<b>[' + position.latlng.lat + '; ' + position.latlng.lng + ']</b>');
			socket.emit('updatePosition', position);
		}
		function onKeyUp() {
			position.latlng = new L.LatLng((-C3D.camera3D.parent.parent.position.z),C3D.camera3D.parent.parent.position.x);
			position.level =  getActualLevelId();
			marker.setLatLng(position.latlng);
			marker.bindPopup('<b>[' + position.latlng.lat + '; ' + position.latlng.lng + ']</b>');
			socket.emit('updatePosition', position);
		}
		
		document.addEventListener( 'keydown', onKeyDown, false );
		document.addEventListener( 'keyup', onKeyUp, false );

		