doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		title= title
		
		// Style
		link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
		style.
			#stats { position: absolute; }
	body
		// Default JavaScript libraries
		script(src='/assets/js/jquery-2.1.1.js')
		script(src='/assets/js/async.js')
		script(src='/assets/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		include ./includes/scripts_2d.jade
		include ./includes/scripts_3d.jade
		
		// C3D Library
		script(src='/libs/c3d_client.js')
		
		script.
			var socket = io();
			socket.on('initialization', function (data) {
			    console.log('initialization');
			    C3D_server = JSON.parse(data.C3D_server);
			    for (prop in C3D_server) {
				    C3D[prop] = C3D_server[prop];
			    }
			    C3D.setIndexAndParents();
			    C3D.activate2D();
			    C3D.activate3D();
			});
		
		block content