extends main

block internal_content
	script.
		var map = C3D.map2D;
		var socket = io('/users');
		
		var marker = L.marker(new L.LatLng(0, 0), {
		    draggable: true
		});
		marker.addTo(map);		
		marker.bindPopup('<b>[' + marker.getLatLng().lat + '; ' + marker.getLatLng().lng + ']</b>');
		socket.emit('updatePosition', marker.getLatLng());
		
		marker.on('dragend', dragMarker);

		function dragMarker(e) {
			console.log('drag');
			var latlng = marker.getLatLng();
			socket.emit('updatePosition', latlng);
			map.removeLayer(marker);
			marker.setLatLng(latlng);	
			marker.bindPopup('<b>[' + latlng.lat + '; ' + latlng.lng + ']</b>');
			map.addLayer(marker);
		}
